@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@keyframes changeTextOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;

  margin: 0px;
}

h3 {
  margin: 0px 0px 20px;

  color: white;
  font-size: 24px;
  opacity: 0;
}

.container {
  display: flex;
  margin: 0px 25px;
  padding: 0px;

  list-style: none;
}

[class*='panel'] {
  height: 90vh;
  width: 75px;
  flex: 0.5;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  cursor: pointer;
  overflow: hidden;

  transition: all 700ms ease-in;
}
[class*='panel']:not(:last-child) {
  margin-right: 25px;
}
[class*='panel'].active {
  width: calc(100vw - 4 * 100px - 50px);
  flex: 6;
}
[class*='panel'].active > h3 {
  opacity: 1;

  animation-name: changeTextOpacity;
  animation-duration: 3000ms;
}

.panel1 {
  background-image: url('https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}
.panel2 {
  background-image: url('https://images.unsplash.com/photo-1572276596237-5db2c3e16c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}
.panel3 {
  background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80');
}
.panel4 {
  background-image: url('https://images.unsplash.com/photo-1551009175-8a68da93d5f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80');
}
.panel5 {
  background-image: url('https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}
